{{!< default}}

{{#post}}

<main>
  <article class="{{post_class}}">
    <div class="page-header">
      <h1>{{{title}}}</h1>
    </div>

    <section class="post-content">
      {{content}}
    </section>

  </article>
</main>

{{/post}}
