{{!< default}}

{{#post}}

<main class="content">
  <article class="{{post_class}}">
    <div class="page-header">
      <h1 class="post-title">{{{title}}}</h1>
    </div>

    <section class="post-content">
      {{content}}
    </section>

  </article>
</main>

{{/post}}
